*{
    font-family: arial;
}
.HP{
    position: static;
    height: 300px;
    width: 10px;
}
.S{
    position: static;
    height: 400px;
    width: 10px;
}
.JH{
    position: static;
    height: 400px;
    width: 10px;
}
.CC{
    position: static;
    height: 400px;
    width: 10px;
}

.banner{

        text-decoration: none;
        position: static;
        bottom:-40px;
        left:120px;
        float:center;
        margin: 2px;
        padding: 20px;
        background-color: #000000;
        border: rgb(0, 0, 0) 1px solid;
}
.banner a{
	text-decoration: none;
	color:white;
	border-radius:20px;
}


